@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: lightgray;
}
header,
main,
footer {
  margin: 1rem auto;
  border: 1px solid #ccc;
  margin: 0;  
}
main h1 {
    text-align: center;
    grid-column: 1 / -1;
}
header{
    background-color: rgb(30, 103, 127);
    color: white;
    text-align: center;
}
footer {
    background-color: rgb(30, 103, 127);
    color: white;
    text-align: center;
    margin: 1rem auto 0 auto;
}
main{
    text-align: center;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

nav a{
    color: white;
    text-decoration: none;
    display: none;
    padding: 10px;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

img {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid white;
    box-sizing: border-box;
    margin: 0 auto;

}

@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    nav a {
        display: inline;
    }
    nav {
        text-align: center;
    }
}
@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}